

body{
  background-color: whitesmoke;
  height: 100%;
}

.myfieldclass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h4
{
color: #1C1E1F;
}


.result
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align:center
}

.result h4
{
  color: darkslategrey;
}
