<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title> House Price prediction </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}"/>

</head>

<body>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Machine learning API</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Predict house prices</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </div>
</nav>

<br>


<div class="container">
    <form method='post'>
        {% csrf_token %}
        {{ form.non_field_errors}}
        <div class="fieldWrapper mx-1 my-1">
            {{ form.Size.errors}}
            <h4 class="hai4">Size of the house :</h4>
            {{ form.Size }}
        </div>
        <div class="fieldWrapper">
            {{ form.Bedrooms.errors }}
            <h4>Number of Bedrooms :</h4>
            {{ form.Bedrooms }}
        </div>
          <button type="submit" class="btn btn-primary myfieldclass active">Submit</button>
          <div class="result">
            {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                      <h4> {{ message }} </h4>
                  {% endfor %}
              </ul>
            {% endif %}
          </div>
    </form>   
</div>

<br>


</body>
</html>